<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liga Transfer</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
        <h2>Data Transfer Pemain <%= liga %></h1>
    <table class="tabel">
        <thead>
            <th>Nama</th>
            <th>Umur</th>
            <th>Negara</th>
            <th>Posisi</th>
            <th>Klub Asal</th>
            <th>Klub Saat Ini</th>
            <th>Harga</th>
        </thead>
        <tbody>
            <% footballers.footballers.forEach(pemain => { %>
                
                <tr>
                    <td><%= pemain.nama %></td>
                    <td><%= pemain.umur %></td>
                    <td><%= pemain.NA %></td>
                    <td><%= pemain.posisi %></td>
                    <td><%= pemain.KA %></td>
                    <td><%= pemain.KSI %></td>
                    <td><%= pemain.harga %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('../partials/footer') %>
  </body>
</html>
